openapi: 3.2.0
info:
  title: Socure Predictive DocV Uploads API
  version: '3.0'
  description: 'Predictive Document Verification (DocV) verifies government-issued ID documents

    and matches them to a live selfie with liveness detection. The DocV REST API

    creates session-orchestrated transactions, manages document/selfie uploads, and

    retrieves verification outcomes. Session lifecycle events are also pushed via

    webhooks — see the companion DocV AsyncAPI document.

    '
  contact:
    name: Socure Developer Support
    url: https://developer.socure.com
servers:
- url: https://api.socure.com
  description: Production
- url: https://sandbox.socure.com
  description: Sandbox
security:
- SocureToken: []
tags:
- name: Uploads
  description: Document and selfie upload management
paths:
  /api/3.0/devices/{deviceId}/documents:
    parameters:
    - name: deviceId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Uploads
      operationId: uploadDocvDocument
      summary: Upload A DocV Document
      description: Upload a document image (front, back, or selfie) for a DocV transaction.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - license_front
                  - license_back
                  - passport
                  - selfie
                  - residence_permit
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload acknowledged.
components:
  securitySchemes:
    SocureToken:
      type: apiKey
      in: header
      name: Authorization
