openapi: 3.2.0
info:
  title: Socure Global Watchlist Monitoring Alerts API
  version: '3.0'
  description: 'Continuous monitoring of customer identities against global sanctions lists

    (OFAC, UN, EU, HMT, DFAT), PEP lists, and adverse media sources. Submit profiles

    for monitoring, retrieve match alerts, manage match dispositions, and receive

    webhook callbacks when a customer matches a newly added or updated list entry.

    '
servers:
- url: https://api.socure.com
  description: Production
- url: https://sandbox.socure.com
  description: Sandbox
security:
- SocureToken: []
tags:
- name: Alerts
paths:
  /api/3.0/watchlist/monitoring/alerts:
    get:
      tags:
      - Alerts
      operationId: listMonitoringAlerts
      summary: List Monitoring Alerts
      parameters:
      - name: profileId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - new
          - in_review
          - cleared
          - confirmed
      responses:
        '200':
          description: Alert list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MonitoringAlert'
  /api/3.0/watchlist/monitoring/alerts/{alertId}:
    parameters:
    - name: alertId
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Alerts
      operationId: updateMonitoringAlert
      summary: Update A Monitoring Alert Disposition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - new
                  - in_review
                  - cleared
                  - confirmed
                notes:
                  type: string
      responses:
        '200':
          description: Alert updated.
components:
  schemas:
    MonitoringAlert:
      type: object
      properties:
        alertId:
          type: string
        profileId:
          type: string
        sourceListName:
          type: string
        matchDetails:
          type: object
          additionalProperties: true
        status:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    SocureToken:
      type: apiKey
      in: header
      name: Authorization
